body{
    background-color: rgb(176, 222, 240);
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
   
}
.container{
    border-style: none;
    border-radius: 5px;
    max-width: 400px;
    padding: 20px;
    margin: 100px auto;
    border-color: black;
    text-align: center;
    background-color: hsl(184, 38%, 65%);
    box-shadow: 10 10 10px rgb(25, 24, 24);
}
h1{
       text-align: center;
       border-radius: 15px;
       padding-top: 20px;
       padding-bottom: 10px;

}
#check{
    size: 50px;
    vertical-align: middle;
    background-color: deepskyblue;
    padding: auto;
    margin: 2%;
    box-shadow: 0 0 5px rgb(25, 24, 24);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    text-size-adjust: 10px;
}

#word{
    width: 90%;
    margin: 2%;
    box-shadow: 0 0 5px rgb(25, 24, 24);
}
#result{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}